<!DOCTYPE html>
<html>
<head>
  <title>Bestclass</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script>
    window.csrf_token = "<%= form_authenticity_token %>";
  </script>
</head>
<body ng-app="bestclass">

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="#">Bclass</a>
      <div class="nav-collapse" id="main-menu">
        <ul class="nav" id="main-menu-left">
          <li>
            <a href="#/courses">课程</a>
          </li>
          <li>
            <a href="#/messages">消息</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div ng-view></div>

<%= render partial: "layouts/madal" %>

<%= javascript_include_tag "app" %>

</body>
</html>
