<!DOCTYPE html>
<html>
<head>
  <title>Bestclass</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script>
    window.csrf_token = "<%= form_authenticity_token %>";
  </script>
</head>
<body ng-app="bestclass">

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="#">Bclass</a>
      <div class="nav-collapse" id="main-menu">
        <ul class="nav" id="main-menu-left">
          <li>
            <a href="#/courses">课程</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div ng-view></div>

<%= render partial: "layouts/madal" %>

<%= javascript_include_tag "app" %>

<div class="modal hide fade" id="handout_p">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">在线预览课件</h3>
  </div>
  <div class="modal-body">
    <div id="documentViewer" class="flexpaper_viewer">
      
    </div>
  </div>
</div>

</body>
</html>
